<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        a{
            text-align: center;
            width: 400px;
            display: inline-grid;
            background-color: lightskyblue;
            margin: 10px;
            padding: 10px;
            border: 5px gray solid;
            border-radius: 10px;
            text-decoration: none;
            color: black;
        }
        a:hover{
            background-color: aqua;
        }
        #button{
            text-align:center;
            margin-top: 130px;
        }
    </style>
</head>
<body>

<div id="button" >
    <a href="HermesTest">
        RunHermesTest
    </a>
    <br>
    <a href="ServerTest">
        RunServerTest
    </a>
    <br>
    <a href="ErrorTest">
        RunErrorTest
    </a>
</div>



</body>
</html>